<?xml version="1.0" encoding="utf-8"?>
<!--
 This file is part of Code Librarian <https://github.com/StevenJDH/Code-Librarian>.
 Copyright (C) 2019 Steven Jenkins De Haro.
 
 Code Librarian is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Code Librarian is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Code Librarian.  If not, see <http://www.gnu.org/licenses/>.
-->
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net472" />
</packages>